@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: hsl(210, 20%, 96%);
    --background-embed: #e4e6ec;
    --shadow: #d5dbe7cb;
    --text: #101116;
    --secondary-text: #515667;
}

.änderung {
    color: rgb(253, 49, 49);
    font-weight: 500;
}


/* ====== // Sections //=========================================================================== */

body {
    margin: 0;
    font-family: "Poppins";
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
    overflow-y: hidden;
}

#header-section {
    background: var(--background);
    height: 7vh;
}

#content-section {
    height: 93vh;
    display: flex;
}


#plan-section {
    flex: 1;
    height: 93vh;
}

#content-scroller {
    height: calc(100% - 7vh);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#footer-section {
    background: var(--background);
    height: 7vh;
    width: 100%;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

#sidebar-section {
    width: 20vw;
    padding-bottom: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 100%;
}


/* ====== // Vertretungsplan //==================================================================== */

.plan-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 30px;
    justify-content: center;    
}

.klasse {
    position: relative;
    padding: 5em 1.5em 2.0em 1.5em;
    background-color: var(--background-embed);
    box-shadow: inset 18px 18px 20px var(--shadow), inset -18px -18px 20px #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.klassenkürzel {
    position: absolute;
    top: 20px;
    left: calc(50% - 2em);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px var(--shadow);
    width: 4em;
    height: 1.2em;
    border-radius: calc(0.6em + 10px); /* Height + Padding */
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
}

.periode-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.periode {
    display: flex;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.periode-zahl {
    margin-right: 15px;
    margin-left: -15px;
    width: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

.stunden-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
}

.stunde {

}

.stunden-flr {
    font-size: 19px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 85px 65px 75px;
    column-gap: 0px;
    white-space: nowrap;
}

.stunden-flr .raum {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.stundeninfo {
    font-size: 12px;
    color: var(--secondary-text);
    width: 220px;
}


/* ====== // Detailled overrides //================================================================ */

.plan-wrapper.detailed {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(590px, 1fr));
    gap: 30px;
    justify-content: center;
}

.detailed .perioden-wrapper {
    display: flex;
    flex-direction: column;
}

.detailed .perioden-wrapper > * {
    border-radius: 15px;
    box-shadow: -6px -6px 20px var(--background);
    padding: 10px 0;
}

.detailed .perioden-wrapper > *:last-child {
    border-bottom: none;
}

.detailed .periode-zahl {
    margin-left: 15px;
    width: 30px;
    text-align: left;
}

.detailed .stunden-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px 40px;

    padding: 5px;
    width: fit-content;
    margin: 0 auto;
}

.detailed .stunden-flr {
    grid-template-columns: 80px 70px 75px;
}

.detailed .stundeninfo {
    width: 220px;
}

.detailed .stunden-flr .raum {
    justify-content: flex-start;
}

/* ====== // Sidebar //============================================================================ */

.sidebar-container {
    margin-left: 10px;
    background: rgba(0, 128, 0, 0.089);
    box-shadow: inset 18px 18px 20px var(--shadow), inset 0 -18px 20px #ffffff;
    border-radius: 30px 0 0 30px;
    background-color: var(--background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 95%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
}

#watermark {
    margin-left: 10px;
    color: hsl(from var(--secondary-text) h s calc(l * 2));
    display: flex;
    height: 5%;
    justify-content: center;
    align-items: center;
}

#clock {

}

#clock span {

}


/* ====== // Header & Footer //==================================================================== */

.ticker-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.ticker {
    display: inline-block;
    padding-left: 100%;
    animation: ticker 40s linear infinite;
    font-size: 3.5vh;
    font-weight: 500;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}