<div id="container">
    <h2 id="heading">{{ type(e).__name__ }}</h2>
    <p>{{ e }}</p>

    <div class="debug">
        {# {% if e.args %}
        <strong>Args:</strong>
        <pre>{{ e.args }}</pre>
        {% endif %} #}

        {% if e.__cause__ %}
        <strong>Cause:</strong>
        <pre>{{ e.__cause__ }}</pre>
        {% endif %}

        {% if e.__context__ %}
        <strong>Context:</strong>
        <pre>{{ e.__context__ }}</pre>
        {% endif %}

        {% if e.__traceback__ %}
        <strong>Traceback (letzter Frame):</strong>
        <pre>{{ e.__traceback__.tb_frame.f_code.co_filename }}:{{ e.__traceback__.tb_lineno }} in {{ e.__traceback__.tb_frame.f_code.co_name }}</pre>
        {% endif %}

        {% if e.__notes__ %}
        <strong>Notes:</strong>
        <pre>{{ e.__notes__ }}</pre>
        {% endif %}
    </div>
</div>
