<!DOCTYPE html>
<html lang="de">
<head>
    <title>Benno Vertretungsplan</title>
    <link rel="icon" href="https://www.benno-gymnasium.de/favicon.ico">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <script>
        window.cfg = JSON.parse(`{{ json.dumps(cfg.model_dump()) | safe }}`);
    </script>

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

</head>
<body>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <div id="header-section">
        <div class="ticker-wrapper">
            <div class="ticker">
                {{ "  +++  ".join(cfg.ticker) }}
            </div>
        </div>
    </div>

    <div id="content-section">
        
        <div id="plan-section" hx-get="/plan" hx-trigger="load, every {{ cfg.updatecycle }}m" hx-target="#plan-content" hx-swap="innerHTML">
        {# Falls die Elemente nicht gefunden werden, wird die Response durch hx-target vollständig in #plan-content gegeben #}
        
            <div id="content-scroller">
                <div id="plan-content" style="height: 100%; display: flex; align-items: center; justify-content: center; ">Daten...</div>
                {# Hier lädt HTMX den Inhalt von components/plan.jinja#plan-content #}
            </div>
        
            <div id="footer-section">
                <div id="footer-content">{# wir lassen hier einfach leer, denn man sieht ja im Plan, wie es mit dem Laden aussieht #}</div>
                {# Hier lädt HTMX den Inhalt von components/plan.jinja#footer-content #}
            </div>
        </div>
        
        {% if cfg.sidebar %}
        <div id="sidebar-section" style="display: none;">
            <div class="sidebar-container" style="background-image: url('{{ url_for('static', filename='logo.svg') }}') ">
                <div id="clock">
                    <span id="time"></span>
                    <span id="date"></span>
                </div>
                <div class="sidebar-section">
                    <div class="sidebar-section-header">Solaranlage</div>
                    <div class="sidebar-section-content" hx-get="/solar" hx-trigger="load, every 60m" hx-swap="innerHTML">
                        Lade ...
                        {# Hier lädt HTMX components/solar.jinja #}
                    </div>
                </div>
                <div class="sidebar-section">
                    <div class="sidebar-section-header">Abfahrten</div>
                    <div class="sidebar-section-content" hx-get="/dvb" hx-trigger="load, every 1m" hx-swap="innerHTML">
                        Lade ...
                        {# Hier lädt HTMX components/dvb.jinja #}
                    </div>
                </div>
            </div>
            <div id="watermark">
                <p>&copy github.com/annhilati</p>
            </div>
        </div>
        {% endif %}
    
    </div>

</body>
</html>