<!DOCTYPE html>
<html lang="de">
<head>
    <title>Benno Vertretungsplan</title>
    <link href="https://www.benno-gymnasium.de/favicon.ico" rel="icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <script>
        window.cfg = JSON.parse(`{{ json.dumps(cfg.model_dump()) | safe }}`);
    </script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <div id="header-section">
        <div class="ticker-wrapper">
            <div class="ticker">
                {{ "  +++  ".join(cfg.content.ticker) }}
            </div>
        </div>
    </div>

    <div id="content-section">
        
        <div id="plan-section">
            <div id="content-scroller" hx-get="/plan" hx-trigger="load, every 1m" hx-swap="innerHTML" hx-select="#plan-content">
                Lade Daten...
            </div>
            <div id="footer-section" hx-get="/plan" hx-trigger="load, every 1m" hx-swap="innerHTML" hx-select="#footer-content">
                Lade Daten...
            </div>
        </div>
        
        <div id="sidebar-section" {% if not cfg.content.sidebar %}style="display: none;" {% endif %}>
            <div class="sidebar-container" style="background-image: url('{{ url_for('static', filename='logo.svg') }}') ">
                <div id="clock">
                    <span id="time"></span>
                    <span id="date"></span>
                </div>
                <div class="sidebar-section">
                    <div class="sidebar-section-header">Solaranlage</div>
                    <div class="sidebar-section-content" hx-get="/solar" hx-trigger="load, every 60m" hx-swap="innerHTML">
                        Lade ...
                    </div>
                </div>
                <div class="sidebar-section">
                    <div class="sidebar-section-header">Abfahrten</div>
                    <div class="sidebar-section-content" hx-get="/dvb" hx-trigger="load, every 1m" hx-swap="innerHTML">
                        Lade ...
                    </div>
                </div>
            </div>
            <div id="watermark">
                <p>&copy github.com/annhilati</p>
            </div>
        </div>
    
    </div>

</body>
</html>