<div id="plan-content">
    {# Unter- & Mittelstufe #}
    <div class="plan-wrapper">
        {% for kürzel in cfg.content.klassen %}
            {% for klasse in vp.klassen.values()
                if klasse.kürzel == kürzel
                and (not cfg.content.nuränderungen or (klasse.stunden.values() | sum(start=()) | selectattr('änderung') | list | length > 0))
            %}
            <div class="klasse">
                <div class="klassenkürzel">{{ klasse.kürzel }}</div>
                <div class="perioden-wrapper">
                    {% for periode, stunden in klasse.stunden.items()
                    if not cfg.content.nuränderungen
                    or (stunden | selectattr('änderung') | list | length > 0)
                    %}
                    <div class="periode">
                        <div class="periode-zahl">{{ periode }}</div>
                        <div class="stunden-wrapper">
                            {% for stunde in klasse.stunden[periode] if (not cfg.content.nuränderungen) or
                            stunde.änderung %}
                            <div class="stunde">
                                <div class="stunden-flr">
                                    <span class="fach {% if stunde.fachänderung %}änderung{% endif %}">
                                        {{ (stunde.fach or (klasse.kurse[stunde.kursnummer].kürzel if
                                        stunde.kursnummer in klasse.kurse else '') or '').replace("Fördern", "Fö")
                                        }}
                                    </span>
                                    {% if not stunde.ausfall %}
                                    <span class="lehrer {% if stunde.lehreränderung %}änderung{% endif %}">{{ ",
                                        ".join(stunde.lehrer)}}</span>
                                    <span class="raum {% if stunde.raumgänderung %}änderung{% endif %}">{{ ",
                                        ".join(stunde.räume) }}</span>
                                    {% else %}
                                    <span class="änderung">Ausfall</span>
                                    {% endif %}
                                </div>
                                {% if stunde.info is not none %}<div class="stundeninfo">{{ stunde.info }}</div>{%
                                endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>

    {# Oberstufe #}
    <div class="plan-wrapper detailed">
        {% for klasse in vp.klassen.values() if klasse.kürzel in cfg.content.klassendetailiert %}
        <div class="klasse">
            <div class="klassenkürzel">{{ klasse.kürzel }}</div>
            <div class="perioden-wrapper">
                {% for periode, stunden in klasse.stunden.items()
                if not cfg.content.nuränderungen
                or (stunden | selectattr('änderung') | list | length > 0)
                %}
                <div class="periode">
                    <div class="periode-zahl">{{ periode }}</div>
                    <div class="stunden-wrapper">
                        {% for stunde in csort(klasse.stunden[periode], 2, sorting_key_fächer) if (not
                        cfg.content.nuränderungen) or stunde.änderung %}
                        <div class="stunde">
                            <div class="stunden-flr">
                                <span class="fach{% if stunde.fachänderung %} änderung{% endif %}">{{
                                    stunde.fach or klasse.kurse[stunde.kursnummer].kürzel or ""}}</span>
                                {% if not stunde.ausfall %}
                                <span class="lehrer{% if stunde.lehreränderung %} änderung{% endif %}">{{
                                    ",".join(stunde.lehrer)}}</span>
                                <span class="raum{% if stunde.raumänderung %} änderung{% endif %}">{{
                                    ",".join(stunde.räume) }}</span>
                                {% else %}
                                <span class="änderung">Ausfall</span>
                                {% endif %}
                            </div>
                            {% if stunde.info is not none %}<div class="stundeninfo">{{ stunde.info }}</div>{%
                            endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="debug">{{ vp.datum.strftime('%A der %d. %B %Y') if vp.datum else "" }}{%if timestamp is not none
        %} abgerufen am {{ timestamp.strftime("%d.%m.%Y") }} um {{ timestamp.strftime("%H:%M") }}{% endif %}
    </div>
</div>
<div id="footer-content">
    <div class="ticker-wrapper">
        <div class="ticker">
            {{ (vp.zusatzInfo or "").replace('\n', ' +++ ').replace('\r\n', ' +++ ') }}
        </div>
    </div>
</div>